table {
    width: 100%;
}
table, th, td {
    border: none;
    border-collapse: collapse;
}
th {
    padding: 5px;
	text-align: center;
}
td {
    padding: 5px;
    text-align: left;
}
table th {
    background-color: #4CAF50;
    color: white;
}
#container {
	 width: 80%;
	 margin: auto;
	 padding: 10px;
}
#designer {
    width: 600px;
  	float: left;
}
#description {
	margin-left: 650px;
}
